.container {
  padding: 0 1rem;
  @apply grid place-content-center w-full text-2xl  col-span-2 mx-auto;
}
.person {
  @apply hidden sm:grid place-content-center w-full h-full text-2xl  col-span-2 mx-auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
